/* body{
	margin: 0px 300px;
} */
.container{
	width:800px;
	height:1200px;
	margin-left: 300px;
	/* padding: 0px 300px; */
	background-color: #6699CC;
	/* background-color:red; */
}
.head{
	width:700px;
	height:300px;
	margin-left: 40px;
	font-size: 40px;
	margin-bottom: 30px;
	margin-top: 60px;
	text-align: center;
	/* height:200px; */
	background-color: #ABABAB;
}
.head .img{
	width:700px;
	height:200px;
	margin-top: 20px;
	background-color: #009999;
}
.body{
	width:700px;
	height:850px;
	margin-left: 40px;
	background-color: white;
}